@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:600');

body {
  padding: 20px;
  background-color: black;
  color: white;
}

h1 {
  /*border-bottom: 1px solid gray;*/
  margin-top: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* View: Chuck list */
.chucks {
  list-style: none;
}

.chucks li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Chuck detail */
.chuck {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.chuck:first-child {
  display: block;
}

.chuck-images {
  background-color: white;
  float: left;
  height: 377px;
  overflow: hidden;
  position: relative;
  width: 450px;
  margin: 0 2% 2% 0;
}

.chuck-thumbs {
  list-style: none;
  margin: 0;
  height: 74vh;
  width: auto;
  overflow: scroll;
  margin: 0 12% 0 0;
}

.chuck-thumbs img {
  height: 80px;
  padding: 1em;
  width: 80px;
}

.chuck-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
/*Button*/
.buy-it a{
  width: 35%;
  margin: 0 15% 0 0;
  text-align: center;
  border: 0;
  font-family: 'Fira Sans', sans-serif;
  transition: all 0.3s ease 0s;
}
.buy-it a:hover{
  background: #CF4647;
  color: #303345;
}

.tiny-con-star{
  height: 5vh;
  width: auto;
  padding: 0 5% 0 0;
}
.con-star{
  height: 10vh;
  width: auto;
  padding: 0 1% 0 1%;
}
.con-star-cart{
  height: 8vh;
  width: 100%;
  background-color: white;
}
.outlined{
  padding: 3% 0 0 0;
}
.outlined .dropdown select{
  color: black;
}
.gray{
  background-color: #F1F1F1;
  height: 60vh;
  width: 84%;
  color: black;
  margin: -2% 0 0 -13%;
}
.red{
  color: red;
}
.dropdown, .red{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctr-it{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gray a button{
  width: 100%;
}
/*shopping cart*/
#blue-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  width: 100%;
  border-radius: 1em;
  background: #73AD21;
  padding: 20px;
  background-color: #303345;
}
/*#gray-title{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #73AD21;
  padding: 20px;
  border: 1px solid gray;
  color: black;
}*/

.table{
  background-color: #F9F9F9;
  color: gray;
  border-radius: 1em;
}

#gray-title table thead{
  background-color: #F9F9F9;
}
#gray-title table thead th{
  color: gray;
}
#gray-title table tbody tr td button{
  background-color: white;
  color: blue;
  border: .01em solid gray;
}
#total{
  text-align: right;
}
#total-box{
  background-color: #F1F1F1;
  border-radius: 1em;
  color: black;
  width: 100%;
  margin: 0 0 0 0%;
}
#checkoutOrContinue{
  padding: 8% 0 0 0;
}
#continue{
  background-color: #F1F1F1;
  color: #303345;
}
#checkout{
  background-color: orange;
  margin: 0 0 0 165%;
}

.error{
  color: red;
}
.green{
  color: green;
}

/*addtocart*/
.table tbody tr th img{
  height: 145px;
  width: auto;
}

.table tbody tr td input{
  height: auto;
  width: 3vw;
}
a:hover {
  cursor: pointer;
  cursor: hand;
}

/*media queries*/

@media screen and (max-width: 500px) {
  #wrapper{
    display: flex;
    flex-direction: column;
  }

  .chuck-thumbs {
    list-style: none;
    margin: 0 -10px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /*.chuck-thumbs img {
    height: 80px;
    padding: 1em;
    width: 80px;
  }*/

  .chuck-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin: 1em;
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: top;
  }
  .chuck{
    height: 300px;
    width: 100%;
  }
  .chuck-images{
    height: 300px;
    width: 100%;
  }

  .gray{
    background-color: #F1F1F1;
    height: auto;
    width: 95vw;
    color: black;
    padding: 0 5% 5% 0;
    margin: 0;
  }
  .con-star-cart{
    height: 5vh;
    width: auto;
    background-color: white;
    margin: 0 0 0 23%;
  }
  .outlined .dropdown select{
    color: black;
    border: 1px solid black;
  }
  .div-order1{
    order: 2
  }
  .div-order2{
    order: 1
  }
  .div-order3{
    order: 3
  }
  .div-order4{
    order: 4;
    padding: 5% 0 0 0;
  }

/*cart total page*/
#checkout{
  background-color: orange;
  margin: 0 0 0 75%;
}
#checkoutOrContinue{
  padding: 25% 0 0 0;
}
.table tbody tr td input{
  height: auto;
  width: 10vw;
}
