@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:600');

body {
  padding: 20px;
  background-color: black;
  color: white;
}

h1 {
  /*border-bottom: 1px solid gray;*/
  margin-top: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* View: Chuck list */
.chucks {
  list-style: none;
}

.chucks li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

/* View: Phone detail */
.chuck {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.chuck:first-child {
  display: block;
}

.chuck-images {
  background-color: white;
  float: left;
  height: 377px;
  overflow: hidden;
  position: relative;
  width: 450px;
  margin: 0 2% 2% 0;
}

.chuck-thumbs {
  list-style: none;
  margin: 0;
}

.chuck-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.chuck-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
/*Button*/
.buy-it a{
  width: 35%;
  margin: 0 15% 0 0;
  text-align: center;
  border: 0;
  font-family: 'Fira Sans', sans-serif;
  transition: all 0.3s ease 0s;
}
.buy-it a:hover{
  background: #CF4647;
  color: #303345;
}

.tiny-con-star{
  height: 5vh;
  width: auto;
  padding: 0 5% 0 0;
}
.con-star{
  height: 10vh;
  width: auto;
  padding: 0 1% 0 1%;
}
