<div class="row">



  <div class="col-md-2 col-xs-12">
    <ul class="chuck-thumbs">
      <li ng-repeat="img in $ctrl.chuck.images">
        <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
      </li>
    </ul>
  </div>
  <div class="col-md-10 col-xs-12">
    <a href="#!/chucks"> << Back </a>
    <h1>{{$ctrl.chuck.name}}</h1>
  </div>
  <div class="col-md-6 col-xs-12">
    <p>{{$ctrl.chuck.description}}</p>
    <div class="chuck-images col-md-6">
      <img ng-src="{{img}}" class="chuck"
      ng-class="{selected: img === $ctrl.mainImageUrl}"
      ng-repeat="img in $ctrl.chuck.images" />
    </div>
  </div>
  <div class="outlined col-md-4 col-xs-12">
    <div class="gray">
      <img class="con-star-cart" src="img/chucks/con-tombstone.png" alt="">
      <h1 class='red'>{{$ctrl.chuck.price/100 | currency:" $"}}</h1>
      <strong><p class="ctr-it">Ships Free!</p></strong>
      <div class="dropdown">
        <form name="myForm">
          <select name="size_name" ng-model='$ctrl.newSize' class="" required>
            <option label="Choose Size"></option>
            <option ng-repeat="size in $ctrl.sizes" ng-value='{{size.value}}'>{{size.name}}</option>
          </select>
          <p><span class='error' ng-show="myForm.size_name.$dirty && myForm.size_name.$invalid">Please Select A Size</span></p>

          <p class="ctr-it" >Width: Medium</p>
          <div >
            <a href="#!/chucks/{{$ctrl.chid}}/addToCart">
              <button ng-show="myForm.size_name.$dirty && myForm.size_name.$valid" ng-click='$ctrl.add($ctrl.newSize, $ctrl.chuck)' class="btn btn-success" type="button" name="button">Add to cart</button>
            </a>
          </div>

        </form>
      </div>



    </div>
  </div>
  <div class="container">

    <ul class="col-md-4 specs">
      <li>
        <span>Size and Weight</span>

        <dl>
          <br>
          <dt>Sizing</dt>
          <dd>{{$ctrl.chuck.sizeAndWeight.size}}</dd>
          <br>
          <dt>Weight</dt>
          <dd>{{$ctrl.chuck.sizeAndWeight.weight}}</dd>
        </dl>
      </li>
      <dl>
        <dt>Features</dt>
        <li ng-repeat="dim in $ctrl.chuck.sizeAndWeight.features">{{dim}}</li>
      </dl>

    </ul>


    <div class="col-md-8">
      <h4>Review:</h4>
      <p>{{$ctrl.chuck.reviews}}</p>
    </div>

  </div>


</div>
